- if @team.errors.any?
  #error_explanation
    %h2
      = pluralize(@team.errors.count, "error") 
      prohibited this team from being saved:
    %ul
      - @team.errors.full_messages.each do |message|
        %li= message
.form-wrapper
  = simple_form_for @team, html: { multipart: true } do |f|
    .form-group
      = f.label :thumbnail
      = f.input :thumbnail, as: :image_preview, label: false
    .form-group.text-center
      = f.input :title
    .form-group.text-center
      = f.input :description
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
