- provide(:title, @team.title)
-breadcrumb :team, @team
.container
  .row
    .col-lg-12
      %p#notice= notice
      = image_tag @team.thumbnail
      %h1= @team.title
      %p= @team.description
      %p= link_to("EDIT", edit_team_path(@team))


