%header.home
  .container
    .intro-text
      .intro-lead-in SHIELD & SHARE
      .intro-heading 
        DATA ROOMS
      %a#about.page-scroll.btn.btn-xl 
        Tell Me More
/ About Section
%section#about
  .container
    .row.text-center
      .col-md-3
        %span.fa-stack.fa-4x
          = icon('circle', class: 'fa-stack-2x text-primary')
          = icon('exclamation-circle', class: 'fa-stack-1x fa-inverse')
        %h4.service-heading About
        %p.text-muted This website is a mockup to show techical skill.  I have no intention of launching it as a competing product or selling it for use as such.
      .col-md-3
        %span.fa-stack.fa-4x
          = icon('circle', class: 'fa-stack-2x text-primary')
          = icon('lock', class: 'fa-stack-1x fa-inverse')
        %h4.service-heading Security
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-3
        %span.fa-stack.fa-4x
          = icon('circle', class: 'fa-stack-2x text-primary')
          = icon('database', class: 'fa-stack-1x fa-inverse')
        %h4.service-heading Servers
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-3
        %span.fa-stack.fa-4x
          = icon('circle', class: 'fa-stack-2x text-primary')
          = icon('star', class: 'fa-stack-1x fa-inverse')
        %h4.service-heading Awards
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

/ Features Grid Section
%section#features
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading 
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-md-3.col-sm-6
        %h4 Secure, accessible & everywhere
        %p.text-muted topic
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text

/ Video Section
%section#video
  .container
    .row.text-center
      .col-md-12

/ News and Events Section
%section#news
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading 
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-md-3.col-sm-6
        %h4 Secure, accessible & everywhere
        %p.text-muted topic
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text
      .col-md-3.col-sm-6
        %h4 Feature
        %p.text-muted text
