= simple_form_for(@team_permission) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :team_id
    = f.input :abilities
    = f.input :expiration

  .form-actions
    = f.button :submit
