%h1 Listing folder_permissions

%table
  %thead
    %tr
      %th User
      %th Folder
      %th Abilities
      %th Expiration
      %th
      %th
      %th

  %tbody
    - @folder_permissions.each do |folder_permission|
      %tr
        %td= folder_permission.user_id
        %td= folder_permission.folder_id
        %td= folder_permission.abilities
        %td= folder_permission.expiration
        %td= link_to 'Show', folder_permission
        %td= link_to 'Edit', edit_folder_permission_path(folder_permission)
        %td= link_to 'Destroy', folder_permission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Folder permission', new_folder_permission_path
