.container
  .row
    .col-lg-12
      %p 
        = image_tag(@user.avatar, class: 'img-circle img-responsive')
      %p 
        =@user.username
      %p 
        = @user.email
      %p 
        = @user.title
      %p 
        = @user.company
      %p 
        = @user.created_at
      %p 
        = @user.updated_at
      %p 
        = @user.last_sign_in_at
      %p 
        = @user.last_sign_in_ip
