- project_id ||= session[:project_id]
.form-wrapper
  = simple_form_for @document, html: { multipart: true } do |f|
    .form-group
      = f.hidden_field :project_id, value: project_id
      = f.file_field :doc_file
      .form-group
        = f.association :projects, as: :check_boxes, checked: (defined?(project_id)? project_id : '') 
    .form-group.text-center
      = f.input :title
    .form-group.text-center
      = f.input :description
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
