-breadcrumb :document, @document
#wrapper
  .container
    .row
      .col-lg-12
        %tr
          %td= @document.title
          %td= @document.description
          %td= number_to_human_size(@document.file_size)
          %td= @document.original_filename
          %td.center
            -filetype_icon(@document.file_content_type)
          %td.center
            = link_to document_path(@document), :method => :delete, :data => { :confirm => 'Are you sure?' }, "data-original-title" => "Delete" do
              %i.fa.fa-trash
          %td.center
            =link_to document_url(@document) do
              %i.fa.fa-download
          %td.center
            =link_to pdfjs.full_path(file: document_url(@document)) do
              %i.fa.fa-eye

        = link_to 'Edit', edit_document_path(@document)
        |
        = link_to 'Back', documents_path
