-breadcrumb :project, @project
.container-fluid.project_page
  .row
    .col-sm-12.project-header
      %h6= @project.title
    .col-sm-12.col-md-2.pull-left.project-sidebar
      = image_tag @project.thumbnail, class: 'img-circle'
      %p= @project.description
      %p= link_to("EDIT", edit_project_path(@project))
    .col-sm-12.col-md-10
      %table.table.table-striped
        %th 
        %th DL
        %th VIEW
        %th
        %form
          - @documents.each do |d|
            = render partial: 'project_table', locals: {d: d}
