%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header.page-scroll
      - if current_user  
        =link_to 'AMPHORAE', dashboard_path, class: 'navbar-brand page-scroll'
      - else
        =link_to 'AMPHORAE', root_url, class: 'navbar-brand page-scroll'
      %ul
        - if current_user  
          %li
            =link_to teams_path do
              %i.fa.fa-group
              %span.navtext TEAMS
          %li 
            =link_to documents_path do
              %i.fa.fa-file-text
              %span.navtext DOCUMENTS
          %li
            =link_to projects_path do
              %i.fa.fa-sitemap
              %span.navtext PROJECTS
          %li
            %i.fa.fa-bell
          %li
            %i.fa.fa-inbox
          %li.dropdown
            %span{'data-jq-dropdown' => '#profile-menu'}
              =current_user.username.upcase
              =image_tag(current_user.avatar, class: 'img-circle navbar-avatar')
        - else
          %li= link_to "ABOUT", "#about", class: 'page-scroll'
          %li= link_to "FEATURES", "#features", class: 'page-scroll'
          %li= link_to "NEWS & EVENTS", "#news", class: 'page-scroll'
          %li
            %hr
          %li= link_to "LOGIN", new_user_session_path
          %li= link_to "REGISTER", new_user_registration_path
    // nav dropdown menus
    #profile-menu.jq-dropdown.jq-dropdown-tip
      %ul.jq-dropdown-menu
        %li= link_to "EDIT PROFILE", edit_user_registration_path
        %li= link_to "LOGOUT", destroy_user_session_path, method: :delete


